<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>search-rest-ext</display-name>
	<servlet>
		<servlet-name>com.ibm.commerce.cf.rest.SimpleApplication</servlet-name>
		<init-param>
			<param-name>applicationConfigLocation</param-name>
			<param-value>/WEB-INF/config/resources.properties;/WEB-INF/config/providers.properties</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.config.id</param-name>
			<param-value>search-rest-ext</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
    	<enabled>true</enabled>
	</servlet>
	<servlet>
		<servlet-name>Jersey2Config</servlet-name>
		<servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
		<init-param>
			<param-name>api.version</param-name>
			<param-value>1.0.0</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.basepath</param-name>
			<param-value>/search/ext/resources</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.config.id</param-name>
			<param-value>search-rest-ext</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>com.ibm.commerce.cf.rest.SimpleApplication</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>ExecutionContextFilter</filter-name>
		<filter-class>com.ibm.commerce.cf.servlet.ExecutionContextFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ExecutionContextFilter</filter-name>
		<servlet-name>com.ibm.commerce.cf.rest.SimpleApplication</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>TransactionFilter</filter-name>
		<filter-class>com.ibm.commerce.cf.servlet.TransactionFilter</filter-class>
	</filter> 
	<filter-mapping>
		<filter-name>TransactionFilter</filter-name>
		<servlet-name>com.ibm.commerce.cf.rest.SimpleApplication</servlet-name>
	</filter-mapping>
	<filter>
		<filter-name>SearchExecutionContextServletFilter</filter-name>
		<filter-class>com.ibm.commerce.search.internal.servlet.SearchExecutionContextServletFilter</filter-class>
	</filter> 
	<filter-mapping>
		<filter-name>SearchExecutionContextServletFilter</filter-name>
		<servlet-name>com.ibm.commerce.cf.rest.SimpleApplication</servlet-name>
	</filter-mapping>
	
	<listener>
		<listener-class>com.ibm.commerce.search.internal.servlet.SearchResourceExtractionServletListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.ibm.commerce.cf.servlet.TransactionServletContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.ibm.commerce.search.internal.servlet.SearchServletListener</listener-class>
	</listener>

	<filter>
    	<filter-name>HttpSecurityFilter</filter-name>
    	<filter-class>com.ibm.commerce.cf.servlet.HttpSecurityFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>HttpSecurityFilter</filter-name>
    	<servlet-name>com.ibm.commerce.cf.rest.SimpleApplication</servlet-name>
    </filter-mapping>
</web-app>